<div class='container'>
  <h1>Welcome to JavaScript Racer!</h1>

  <form action="/setup" method="post">
    <label>Player 1:<input type="text" name="player1"></label><br />
    <label>Player 2:<input type="text" name="player2"></label>
    <input type="submit" value="Start!">
  </form>
</div>
